.section_uno{
    background-color: white;
    padding: 8px;
    width: 800px;
}
fieldset{
    width: max-content;
    height: max-content;
}
td{
    width: 200px;
    word-wrap: break-word;
}
select{
    width: 170px;
    background-color: rgba(233, 215, 199, 0.712);
}
.fondo_tabla{
    background-color: rgba(233, 215, 199, 0.712);
}
.celda_doble{
    width: 350px;
}