.a {
    line-height: 200%;
}

.b {
  line-height: 70%;
}

.c {
  font: 175% sans-serif;
}

.d {
  font-family: arial;
}

.e {
  font-weight: 800;
}

.f {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Monoton', cursive;
  font-size: 180%;
}